name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: xchange-rate-checker-app
  DOCKER_IMAGE_VERSION: latest

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_VERSION }}

      - name: Pull and run Docker image on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            docker rm -f ${{ env.DOCKER_IMAGE_NAME }}
            docker rmi -f $(docker images -q "${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}")
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
            docker run --name "${{ env.DOCKER_IMAGE_NAME }}" -d \
              --volume ${PWD}/${{ env.DOCKER_IMAGE_NAME }}:/app-data \
              -e BOT_TELEGRAM_TOKEN="${{ secrets.TELEGRAM_APP_TOKEN }}" \
              -e BOT_TELEGRAM_CHANNEL-CHAT-ID="${{ secrets.TELEGRAM_CHANNEL_CHAT_ID }}" \
              -e PROVIDER_OPEN_EXCHANGERATES_APP_ID="${{ secrets.PROVIDER_OPEN_EXCHANGERATES_APP_ID }}" \
              -e PROVIDER_WISE_TOKEN="${{ secrets.PROVIDER_WISE_TOKEN }}" \
              -e DATA-DIR="/app-data" \
              ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_VERSION }}
